
body {
    font-family: Georgia, serif;
}

/* MAIN */
.bmi {
    width: 80%;
    max-width: 500px;
    box-shadow: -1px 5px 12px 2px #a19e9e;
    margin: 30px auto;
    padding: 5%;
}

/* BMI COUNTER */
/* BMI COUNTER HEADER */
.header-photo {
    width: 100%;
}

.bmi-counter > header > h2 {
    color: hsl(222, 79%, 25%);
}
.description {
    color: #585858;
}
/* BMI COUNTER FORM */
label {
    display: block;
    color: hsl(222, 79%, 25%);
}

input {
    border-radius: 8px;
}

input[type=text] {
    display: inline-block;
    width: 40%;
    margin: 4px 0 8px;
    padding: 8px 20px;
    border: 1px solid #d5dbf1;
    box-sizing: border-box;
}

input[type=submit] {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: hsl(222, 79%, 25%);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.85;
}

/* BMI RESULT */

th, td {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #d5dbf1;
}

#bmi-info-table caption {
    padding: 2px;
    color: #707891
}

.bmi-low-selected {
    background-color: hsl(41, 86%, 49%);
    color: hsl(42, 100%, 86%);
}

.bmi-normal-selected {
    background-color: hsl(125, 48%, 53%);
}

.bmi-high-selected {
    background-color: hsl(12, 100%, 38%);
    color: hsl(12, 100%, 86%);
}

/* BMI RESULT ERROR */
.userInputError {
    color:red;
}